.articleCard{
  /* i want to redious bottom radious */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  /* margin-bottom: 20px */
  
}

/* i want to style my text */
h1 {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
}

/* i want to style my paragraph */
p {
    color: #030000;
    font-size: 15px;
    font-weight: 500;
}

/* i want to style my button */
a {
    background-color: #333;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    padding: 8px 15px;
    text-decoration: none;
}
